footer{
  width: 100%;
  background-color: $primary-dark;
}
footer .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;

  @include respond-to('medium'){
    flex-direction: column;
  }
}
footer .container .row{
  width: 50%;

  @include respond-to('medium'){
    width: 100%;
  }
}
footer .image{
  padding: 5px;
  border-radius: 5px;
  background-color: $secondary-dark;
}
footer .col ul{
  list-style: none;
}
footer .col ul li{
  color: $text-color-1;
  font-weight: 600;
  margin-bottom: 1rem;
}
footer .col ul li a{
  color: $text-color-1;
  text-decoration: none;
}
footer .newsletter{
  color: $text-color-1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5rem;

  @include respond-to('medium'){
    padding-left: 0;
    margin-top: 2rem;
  }
}
footer .newsletter .input-wrap{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
footer .newsletter input{
  border-radius: 5px;
  border: none;
  padding: 8px 0 8px 20px;

  &:focus{
    outline: none;
  }
}
footer .newsletter .news-btn{
  border: none;
  border-radius: 5px;
  padding: 8px 30px;
  color: $primary-dark;
  background-color: $background-color;

  @include respond-to('large'){
    margin-top: 1rem;
  }
}
footer .social-wrap img{
  margin-right: 0.7rem;
  width: 20px;
  filter: invert(100%)
}