.navbar {
  background-color: #c7d2df;
  padding: 0;
}

@media (max-width: 992px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.navbar .navbar-toggler {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-brand {
  background-color: #8190a4;
  padding: 5px 30px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  margin-right: 1.5rem;
}

.navbar-brand:hover {
  color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #47525e;
  padding: 1.2rem 1.5rem 1.2rem 1.5rem;
  font-weight: 400;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  background-color: #e5e9f2;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #47525e;
  background-color: #e5e9f2;
}

.cart-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #47525e;
  font-weight: 600;
  padding: 3px 20px;
  margin-right: 2rem;
}

@media (max-width: 992px) {
  .cart-btn {
    margin: 1rem 1rem;
  }
}

.cart-btn p {
  margin-left: 2px;
  margin-bottom: 0;
}

.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 576px) {
  .home-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.left-sidebar-wrap {
  width: 20%;
}

@media (max-width: 1200px) {
  .left-sidebar-wrap {
    width: 30%;
  }
}

@media (max-width: 576px) {
  .left-sidebar-wrap {
    width: 100%;
    padding: 30px;
  }
}

.left-sidebar {
  min-height: 200px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #c7d2df;
}

.right-side {
  width: 80%;
  margin-left: 50px;
  color: #47525e;
}

@media (max-width: 1200px) {
  .right-side {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .right-side {
    width: 100%;
    margin-left: 0;
  }
}

.right-side .col-auto {
  padding: 20px;
}

.home-page .image {
  background-color: #e5e9f2;
  height: 200px;
}

.subtitle {
  margin: 1rem 0;
}

footer {
  width: 100%;
  background-color: #47525e;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .container .row {
  width: 50%;
}

@media (max-width: 768px) {
  footer .container .row {
    width: 100%;
  }
}

footer .image {
  padding: 5px;
  border-radius: 5px;
  background-color: #8190a4;
}

footer .col ul {
  list-style: none;
}

footer .col ul li {
  color: #fff;
  font-weight: 600;
  margin-bottom: 1rem;
}

footer .col ul li a {
  color: #fff;
  text-decoration: none;
}

footer .newsletter {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5rem;
}

@media (max-width: 768px) {
  footer .newsletter {
    padding-left: 0;
    margin-top: 2rem;
  }
}

footer .newsletter .input-wrap {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer .newsletter input {
  border-radius: 5px;
  border: none;
  padding: 8px 0 8px 20px;
}

footer .newsletter input:focus {
  outline: none;
}

footer .newsletter .news-btn {
  border: none;
  border-radius: 5px;
  padding: 8px 30px;
  color: #47525e;
  background-color: #fff;
}

@media (max-width: 992px) {
  footer .newsletter .news-btn {
    margin-top: 1rem;
  }
}

footer .social-wrap img {
  margin-right: 0.7rem;
  width: 20px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

body {
  margin: 0;
}
/*# sourceMappingURL=styles.css.map */